*
{
    margin: 0;
    padding: 0;
    
}
.log
{
    margin-top: 20px;
    height: 820px;
    width: 100%;

}
.map
{
    margin-top: 20px;
    height: 500px;
    width: 100%;

}
.sondes
{
    margin-top: 20px;
    height: 500px;
    width: 100%;

}
.center-height{
    margin-top:24px;
}

.stocks
{
    margin-top: 20px;
    height: 300px;
    width: 100%;

}
.widget
{
    width:100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 20px;
}
.widget:hover{
    transition-duration:0.5s;
    background-color : gray;
    cursor:pointer;
}


section{
    width:100%;
    height:33%;
    margin-top:0.3%;
    background-color:blue;
}

.annonce-sondes{
    height:80px;
    color:black;
}
.annonce-sondes:hover{
    text-decoration:none;
    color:black;
}

.annonce-sondes:hover{
    background-color : darkgray;
    border-radius: 20px;
}

#titre-sondes{
    height:100px;
}

.ligne{
    width:100%;
    height:1px;
    background-color: white;
}


#log-text{
    margin-left:1%;
    margin-right:1%;
    height:80%;
    background-color:white;
}

#log-text ol, #log-text ul{
    padding-left:25px;
}

#voir{
    float:left;
    margin-left:10px;
    margin-top :30px;
    width:100px;
}
#ajouter{
    float:right;
    margin-right:10px;
    margin-top :30px;
    width:100px;
}

.titre{
    text-align: center;
}
#carte{
    margin:auto;
    width:95%;
    height:80%;
    background-color:white;
    
}
#stock-col{
    margin-left:0px;
}
.p-stock{
    margin:auto;
    width:40px;
    height:150px;
}

#full-bar-blue{
    background-color:cornflowerblue;
}
#full-bar-green{
    background-color:forestgreen;
}
#full-bar-yellow{
    background-color:#cece05;
}

.empty-bar{
    width:100%;
    background-color:white;
}

#eau{
    height:30%;
}
#nourriture{
    height:60%;
}
#energie{
    height:90%;
}
.log a{
	color:black;
    background-color:white;
}

.log a:hover{
	color:black;
	text-decoration:none;
}
