.col-md-10 {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:lightgray;
	height:90vh;
	overflow:scroll;
	overflow-x:hidden;
}

.container {
	padding-top:5vh;
	padding-bottom:5vh;
}

.logs {
	padding:25px;
}

.log{
	border:1px solid black;
	height:35vh;
	overflow:hidden;
}

a{
	color:black;
    background-color:lightgray;
}

a:hover{
	color:black;
	text-decoration:none;
}


