.col-md-10 {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:lightgray;
	height:90vh;
	overflow:scroll;
	overflow-x:hidden;
}

.container:first-of-type {
	padding-top:5vh;
	padding-bottom:5vh;
}

.logs {
	padding:25px;
}

.log{
	border:1px solid black;
	height:35vh;
	overflow:hidden;
}

a{
    background-color:gray;
	color:black;
}

a:hover{
	color:black;
	text-decoration:none;
}

.container {
  width: 1180px;
  margin-top: 3em;
}

#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}

#accordion a {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #b42b2b;
  text-decoration: none;
  color:black;
}

#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #b42b2b;
  color: white;
  transition: all 0.2s ease-in;
}

#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}

#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
}

#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #b42b2b;
  transition: all 0.2s ease-in;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
  margin-right:20px;
}

#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #444;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}

.btn-edit{
	float: right;
}

